p ul li {
    font-family: var(--main-font);
}

main {
    width: calc(100%); /* Adjust width to account for the sidebar */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#root {
    min-height: 100vh;
    display: flex;
}

@media (min-width: 980px) {
    main {
        width: calc(100% - 112px); /* Adjust width to account for the sidebar */
        display: flex;
    }
}