.inno-main {
    margin: 80px 0;
}
.inno-first_title {
    color: var(--blue);
    font-weight: 700;
    font-family: 'Kadwa', serif;
    font-size: 2rem;
    max-width: 300px;
    margin: 0 auto;
}

.inno-first_title::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: var(--blue-light);
    margin-left: 100%;
    transform: translate(-100%, 0);
}

.inno-main p {
    padding-bottom: 16px;
}

@media (min-width : 980px) {
.inno-main{
    min-height: calc(100vh - 112px);
    justify-content: flex-start;
    margin: 0;
}    
.inno-first_title {
        max-width: 700px;
        font-size: 2.5rem;
}
.inno-first_title::after{
        width: 100px;
        height: 5px;
}
}